{% extends 'layout.html' %}

{% block content %}

    <h1>About us</h1>
    

    
    <img src="https://imgs.search.brave.com/uD5iWj3aS9Lbib6fKW8oEeJZf3SMWj2Y93eXFPkewRY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXIuZG9nL2xh/cmdlLzU1MjcxNzAu/anBn", alt="Placeholder", width="300px", height="300px">

    <ul>
        <li>Ichigo</li>
        <li>Luffy</li>
        <li>Naruto</li>        
    </ul>
    {% if name == "Sreerag" %}

        <h2>{{name}}</h2>
    
    {% endif %}

    <ol>
    {% for s in fruits %}
        <li>{{s}}</li>
    {% endfor %}
    </ol>


{% endblock %}