{% extends 'layout.html' %}

{% block title %}
    Sign Up Page
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5" style="min-height: 80vh;">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-5">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Sign Up</h3>

                <!-- Display messages (error, success) -->
                {% if messages %}
                    <div class="mb-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} text-center">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <!-- Handle POST request form submission -->
                <form method="POST">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <!-- Submit Button -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-sm w-100">Sign Up</button>
                    </div>
                
                    <div class="text-center mt-3">
                        <p>Already have an account? <a href="/login/">Login</a></p>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
