{% extends 'admin_layout.html' %}

{% block title %}
    Add New User
{% endblock %}

{% block content %}
<div class="container mt-5" style="max-height: calc(100vh - 150px); overflow-y: auto;">
    <h2 class="text-center mb-4">Add New User</h2>

    <!-- Display success or error messages -->
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Card for Add Valuator Form -->
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Add New User</h5>

            <!-- Add Valuator Form -->
            <form action = "{% url 'useradd' %}" method="POST">
                {% csrf_token %}
                
                <!-- First Name -->
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First Name</label>
                    <div class="input-group">
                        {{ form.first_name }}
                    </div>
                </div>

                <!-- Last Name -->
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last Name</label>
                    <div class="input-group">
                        {{ form.last_name }}
                    </div>
                </div>

                <!-- Username -->
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <div class="input-group">
                        {{ form.username }}
                    </div>
                </div>

                <!-- Email Address -->
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email Address</label>
                    <div class="input-group">
                        {{ form.email }}
                    </div>
                </div>

                <!-- Phone Number -->
                <div class="mb-3">
                    <label for="id_phone_number" class="form-label">Phone Number</label>
                    <div class="input-group">
                        {{ form.phone_number }}
                    </div>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    <div class="input-group">
                        {{ form.password }}
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="mb-5">
                    <button type="submit" class="btn btn-primary w-100">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
